<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Labeling Website</title>
</head>

<body>
    <link rel="stylesheet" href="static/DPlayer.min.css">
    <h1>{{ name }}</h1>
    <div id="dplayer"></div>
    <div>
        <form name="arousalForm" action="" method="get">
            arousal
            <label>
                <input name="zero" type="radio" value="" />0 </label>
            <label>
                <input name="one" type="radio" value="" />1 </label>
            <label>
                <input name="two" type="radio" value="" />2 </label>
        </form>
        <form name="excitementForm" action="" method="get">
            excitement
            <label>
                <input name="zero" type="radio" value="" />0 </label>
            <label>
                <input name="one" type="radio" value="" />1 </label>
            <label>
                <input name="two" type="radio" value="" />2 </label>
        </form>
        <form name="pleasureForm" action="" method="get">
            pleasure
            <label>
                <input name="zero" type="radio" value="" />0 </label>
            <label>
                <input name="one" type="radio" value="" />1 </label>
            <label>
                <input name="two" type="radio" value="" />2 </label>
        </form>
        <form name="contentmentForm" action="" method="get">
            contentment
            <label>
                <input name="zero" type="radio" value="" />0 </label>
            <label>
                <input name="one" type="radio" value="" />1 </label>
            <label>
                <input name="two" type="radio" value="" />2 </label>
        </form>
        <form name="sleepinessForm" action="" method="get">
            sleepiness
            <label>
                <input name="zero" type="radio" value="" />0 </label>
            <label>
                <input name="one" type="radio" value="" />1 </label>
            <label>
                <input name="two" type="radio" value="" />2 </label>
        </form>
        <form name="depressionForm" action="" method="get">
            depression
            <label>
                <input name="zero" type="radio" value="" />0 </label>
            <label>
                <input name="one" type="radio" value="" />1 </label>
            <label>
                <input name="two" type="radio" value="" />2 </label>
        </form>
        <form name="miseryForm" action="" method="get">
            misery
            <label>
                <input name="zero" type="radio" value="" />0 </label>
            <label>
                <input name="one" type="radio" value="" />1 </label>
            <label>
                <input name="two" type="radio" value="" />2 </label>
        </form>
        <form name="distressForm" action="" method="get">
            distress
            <label>
                <input name="zero" type="radio" value="" />0 </label>
            <label>
                <input name="one" type="radio" value="" />1 </label>
            <label>
                <input name="two" type="radio" value="" />2 </label>
        </form>
        <input type="submit" value="Next" href="javascript: submitform()">
    </div>
    <script src="static/flv.min.js"></script>
    <script src="static/DPlayer.min.js"></script>
    <script>
        const dp = new DPlayer({
            container: document.getElementById('dplayer'),
            autoplay: true,
            video: {
                url: 'video/{{ name }}',
                type: 'flv'
            },
            danmaku: {
                id: '{{ name }}',
                api: 'https://api.prprpr.me/dplayer/'
            }
        });

        function submitform() {
            document.getElementById("myForm").submit();
        }
    </script>
</body>

</html>