{% extends "layout.html" %}

{% block body %}
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/DPlayer.min.css">

    <h2>{{ name }}</h2>

    <a class="logout" href="{{ url_for('logout') }} ">Logout</a>
    <p style="clear:both;"></p>

    <div id="dplayer"></div>
    <div>
        <form id="emotionForm" action="{{ url_for('submit_label') }}" method="post">
        <div>
            arousal
            <label>
                <input name="arousal" type="radio" value="0" />0 </label>
            <label>
                <input name="arousal" type="radio" value="1" />1 </label>
            <label>
                <input name="arousal" type="radio" value="2" />2 </label>
        </div>
        <div>
            excitement
            <label>
                <input name="excitement" type="radio" value="0" />0 </label>
            <label>
                <input name="excitement" type="radio" value="1" />1 </label>
            <label>
                <input name="excitement" type="radio" value="2" />2 </label>
        </div>
        <div>
            pleasure
            <label>
                <input name="pleasure" type="radio" value="0" />0 </label>
            <label>
                <input name="pleasure" type="radio" value="1" />1 </label>
            <label>
                <input name="pleasure" type="radio" value="2" />2 </label>
        </div>
        <div>
            contentment
            <label>
                <input name="contentment" type="radio" value="0" />0 </label>
            <label>
                <input name="contentment" type="radio" value="1" />1 </label>
            <label>
                <input name="contentment" type="radio" value="2" />2 </label>
        </div>
        <div>
            sleepiness
            <label>
                <input name="sleepiness" type="radio" value="0" />0 </label>
            <label>
                <input name="sleepiness" type="radio" value="1" />1 </label>
            <label>
                <input name="sleepiness" type="radio" value="2" />2 </label>
        </div>
        <div>
            depression
            <label>
                <input name="depression" type="radio" value="0" />0 </label>
            <label>
                <input name="depression" type="radio" value="1" />1 </label>
            <label>
                <input name="depression" type="radio" value="2" />2 </label>
        </div>
        <div>
            misery
            <label>
                <input name="misery" type="radio" value="0" />0 </label>
            <label>
                <input name="misery" type="radio" value="1" />1 </label>
            <label>
                <input name="misery" type="radio" value="2" />2 </label>
        </div>
        <div>
            distress
            <label>
                <input name="distress" type="radio" value="0" />0 </label>
            <label>
                <input name="distress" type="radio" value="1" />1 </label>
            <label>
                <input name="distress" type="radio" value="2" />2 </label>
        </div>
            <!--隐藏的input,设置视频name-->
        <input type="hidden" name="video_name" value="{{ name }}">
        </form>
        <div class="submit">
            <input type="submit" value="Submit" id="submitToSql" onclick="submitForm()">
            <input type="submit" value="Next" id="nextVideo" onclick="labelingNextVideo()">
        </div>
        <div style="margin-top: 16px"></div>
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
    <script src="static/flv.min.js"></script>
    <script src="static/DPlayer.min.js"></script>
    <script>
        const dp = new DPlayer({
            container: document.getElementById('dplayer'),
            autoplay: true,
            video: {
                url: 'video/{{ name }}',
                type: 'flv'
            },
            danmaku: {
                id: '{{ name }}',
                api: 'https://api.prprpr.me/dplayer/'
            }
        });

        //加载进来立刻执行,预设radio值
        window.onload = function (ev) {
            var arousal = document.getElementsByName("arousal");
            var excitement = document.getElementsByName("excitement");
            var pleasure = document.getElementsByName("pleasure");
            var contentment = document.getElementsByName("contentment");
            var sleepiness = document.getElementsByName("sleepiness");
            var depression = document.getElementsByName("depression");
            var misery = document.getElementsByName("misery");
            var distress = document.getElementsByName("distress");
            arousal[{{ arousal_level }}].checked = true;
            excitement[{{ excitement_level }}].checked = true;
            pleasure[{{ pleasure_level }}].checked = true;
            contentment[{{ contentment_level }}].checked = true;
            sleepiness[{{ sleepiness_level }}].checked = true;
            depression[{{ depression_level }}].checked = true;
            misery[{{ misery_level }}].checked = true;
            distress[{{ distress_level }}].checked = true;
        };

        function submitForm() {
            var myForm = document.getElementById("emotionForm");
            myForm.submit();
        }

        
        function labelingNextVideo() {
            
        }

        function labelingPreVideo() {

        }
    </script>
{% endblock %}