<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Emotion Labeling Tool</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
  <h1>Video Emotion Labeling Tool</h1>
    {% for message in get_flashed_messages() %}
    <div class=flash id="flashMessage">{{ message }}</div>
  {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
</html>